.fried-mac-cheese-balls {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/kMks4h5uTms_vfQu0VNWv3zTRSc=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/231432-5460534cf8bf49309bd914e271ab48e5.jpg");
}

.mac-salad-hawaii {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/6PDsr_i6725avdJiunseKk596fA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/9366711-f944cf3823284858afb798cabe8f0d1a.jpg");
}

.classic-macaroni-salad {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/7aK0XxwBYvTHJ2M-N_Tiqx2x91o=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/81108-classic-macaroni-salad-mfs-034-7479ce9dd1a54eca8baa38c3b788411f.jpg");
}

.cheeseburger-quesadilla {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/tW6oooECKNuNbqL7QzJ-rSCS9CE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/3507515-2252579955b94fa7b1331de0e431ef91.jpg");
}

.butter-burger {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/QdUpJTuAXMMG5iXTgjzYCTONDnM=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/1638577-ce7082c99a664f0097d9481a9dd7d9e4.jpg");
}

.veggie-burgers {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/0GGuAqm_OaZod9myY6XFoAW-zLo=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/85452-Homemade-Black-Bean-Veggie-Burger-ddmfs-103085-1x1-1-e1904681012b48cf81e2ba56a24068c9.jpg");
}

.cinnamon-apples {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/w7k8ZDFwkRd0oqlSBEmuycTQL2g=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/228683-delicious-cinnamon-baked-apples-ddmfs-4X3-1428-9500d581c4ad4d74acc67e4f6c947326.jpg");
}

.apple-donuts {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/eEcIZmkfmQLLMt1Y9tXCPfoMvFk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8710408-a10e00a2130d4497b76e8ea6042d4f94.jpg");
}

.baked-apples {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/kDgxuX6yCsoUdpVr2HavaEKlIWA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/7890331-ae7e15e0aa174d9d884b80b4690dfb1b.jpg");
}

.baked-french-toast {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/se_uPBi55gmEOFmBZJbActpBIaE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/20934-baked-french-toast-beauty-1x1-BP-3032-9050f60278a44f87968040996f98ffe9.jpg");
}

.air-fryer-toast {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/0yt13-QcfdaTxCJun3AFoSOpH5o=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8970663-931bdc4b3778479c89d77a6279a50b7b.jpg");
}

.air-fryer-sticks {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/Vk036RoDfvPC9Lzma5aDqBrd6Gs=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/5686733-air-fryer-french-toast-sticks-Buckwheat-Queen-4x3-1-30d067b9bd054d25bf57bed1750f4600.jpg");
}

.chocolate-cookie {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/0P19R7Vn4ZTu88LdEiFcbdMVZzM=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/695086-37c1c468ad3d41fbbcb6c7a6fdd3e141.jpg");
}

.crisp-oatmeal-cookies {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/tzvzrBVmjL6Ler5lNab5175YYq8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/8029056-crisp-oatmeal-cookies-shannon-4x3-1-67e54fb5558b422ba16be0c7b2ab1428.jpg");
}

.banana-cookie {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/J82k0n2ow34HED5fwpDHV8kEH_w=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/5046807-ec2948bea4034d68ac88bac04e9b8e8d.jpg");
}

.baked-buffalo {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/9OrquBwsJ0KFQzESCrpUay2AZpk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/1113017-881143f5b9754828b14764be9d5d7837.jpg");
}

.cold-salad {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/vwL4Mi2Ahq5GqR9XKBqZuBBlZjQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Cold-Chicken-Macaroni-Salad-2000-2a6137d1880948e79da44f9cf2139897.jpg");
}

.chicken-salad {
    width: 100%;
    height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url("https://www.allrecipes.com/thmb/xMGEWipuHYvCKq-dFze7tE_lju4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6690134-99121d76d90d47eda6f006abb2726aa2.jpg");
}
